.section {
    background-color: rgba(30, 30, 30, 0.9);
    padding: 25px;
    margin-bottom: 30px;
    border: 1px solid #333;
    border-left: 4px solid var(--accent-color);
}
/* 
    NEED TO MAKE IT YELLOW
*/
h3 {
    color: var(--warning-color);
    margin-top: 25px;
}

pre {
    background-color: var(--code-bg-color);
    padding: 15px;
    border-left: 3px solid var(--warning-color);
    overflow-x: auto;
    font-family: 'Courier New', monospace;
    margin: 15px 0;
}

code {
    background-color: var(--code-bg-color);
    padding: 2px 5px;
    font-family: 'Courier New', monospace;
}

.function-desc {
    margin-bottom: 15px;
}

.example-title {
    color: var(--accent-color);
    font-weight: bold;
    margin: 15px 0 5px 0;
}